header,footer{
  
    background-color: #d8b237;
    color: rgb(21, 21, 21);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    justify-content:space-evenly ;
    margin: 50px;
}

.navegacao a {

    font: 20px  Arial, Verdana,Helvetica,sans-serif;
    color: #000;
    text-align: center;
    text-decoration: none;
    }
    
.navegacao a:hover {
    background:  #FFC50C;
    padding: 1px 5px;
    margin-right:1px;
    border: 1px solid #000;
}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.home {
    background: #FFFFFF;
    padding: 50px;
}

.text-home{

    display: inline-block;
    vertical-align: bottom;
    font-size: 20px;
    width: 30%;
    margin-right: 0%;
}
.img-home {
    width: 50%;
}

main{
    background-color: #d8b237;
    margin: 50px;
}

